<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>My Blog</title>
  <link rel="stylesheet" href="./css/main.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.11/vue.global.min.js" crossorigin="anonymous"></script>
</head>

<body class="blog-page">
  <header>
    <div class="logo-banner">
      <a href="index.html"><img id="logo" src="./images/wandermom_horizontal_logo.png" alt="WanderMom logo" /></a>
    </div>
    <nav class="sticky-header">
      <ul class="nav_list">
        <li class="nav_item"><a href="index.html">Home</a></li>
        <li class="nav_item"><a href="about.html">About Me</a></li>
        <li class="nav_item"><a href="blog.html">Blog</a></li>
        <li class="nav_item"><a href="contact.html">Contact</a></li>
        <li class="nav_item"><a href="photo_gallery.html">Photo Gallery</a></li>
        <li class="nav_item"><a href="travel_items.html">Travel Must-haves</a></li>
      </ul>
    </nav>
  </header>

  <main class="blog-container">
    <h1 class="line">Blog</h1>
    <div id="app">
      <div class="posts">
        <div class="card" v-for="(post, index) in blogPosts" :key="index">
          <h2>{{ post.title }}</h2>
          <h5>{{ post.subtitle }}</h5>
          <img :src="post.image" :alt="post.alt" />

          <div v-if="expandedIndex === index">
            <div v-for="block in post.content" :key="block" v-html="block"></div>
            <button class="read-more-btn" @click="expandedIndex = null">Read Less</button>
          </div>

          <div v-else>
            <p>{{ post.preview }}</p>
            <button class="read-more-btn" @click="expandedIndex = index">Read More</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>🧳 Made with love, coffee, and carry-on bags &#128149; | &copy; 2025 Diana Velasquez</p>
    <p><a href="https://github.com/dvelasquez124" target="_blank">View my projects on GitHub</a></p>
</footer>
<script src="script.js"></script>
</body>

</html>
